<div class='row'>
    <h1 class="col-md-12" i18n>{{ title }}
    </h1>
</div>
<div class='row'>
    <!-- Articles Column -->

    <div class="col-md-8">

        <article class="card my-4" *ngFor="let article of articles$ | async; trackBy:trackByArticle">
            <img class="card-img-top" *ngIf="article.image" [src]="article.image" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title"><a [routerLink]="['/article', article.id]">{{ article.title }}</a></h2>
                <p class="card-text" [innerHTML]="article.contentSummary"></p>
                <a [routerLink]="['/article', article.id]" class="btn btn-primary" i18n>Read More &rArr;</a>
            </div>
            <div class="card-footer text-muted">
                <span i18n>Posted on {{ article.created.seconds * 1000 | date:'medium' }} by {{ article.createdBy }}</span>
            </div>
        </article>

        <app-pager></app-pager>

    </div>

    <!-- Sidebar Widgets Column -->
    <aside class="col-md-4">
        <app-side-bar></app-side-bar>
    </aside>

</div>
