<!-- Footer -->
<footer class="py-3 bg-dark text-light">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-12">
                <div class="card-deck">
                    <div class="card mt-4 mb-1 text-white bg-dark card-fix-width"
                         *ngFor="let footerBlock of footerBlocks; trackBy:pageService.trackByIndex">
                        <div class="card-body">
                            <h5 class="card-title">{{ footerBlock.title }}</h5>
                            <div [innerHTML]="footerBlock.content"></div>
                            <div *ngIf="footerBlock.menuItems">
                                <ul class="list-unstyled">
                                    <li [routerLinkActive]="['active']"
                                        *ngFor="let menuItem of footerBlock.menuItems; trackBy:pageService.trackByIndex">
                                        <a class="text-light" [routerLink]="[menuItem.url]" *ngIf="!menuItem.target">
                                            <span>{{ menuItem.text }}</span>
                                        </a>
                                        <a class="text-light" href="{{ menuItem.url }}" target="{{ menuItem.target }}" rel="{{ menuItem.rel }}" *ngIf="menuItem.target">
                                            <span>{{ menuItem.text }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-copyright" class="text-center py-2" i18n>Copyright &copy; Super Murat 2005-2021</div>
</footer>
