<div class="row" *ngIf="page$ | async as page">
    <div class="col-md-12 py-1 px-3 mt-3">
        <h1>{{ page?.caption }}</h1>
    </div>
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <article class="my-4 border-dark border-bottom" *ngFor="let content of blogs$ | async; trackBy:pageService.trackByIndex">
            <img class="img-fluid" *ngIf="content.image" [src]="content.image.src" alt="{{ content.image.alt }}"/>
            <h2><a [routerLink]="[content.routePath, content.id]">{{ content.title }}</a></h2>
            <p [innerHTML]="content.contentSummary"></p>
            <a [routerLink]="[content.routePath, content.id]" class="btn btn-primary" i18n>Read More &rArr;</a>
            <div class="text-muted text-right">
                <i class="fa fa-calendar-alt mx-2"></i>{{ content.created.seconds * 1000 | date:'medium' }}
                <i class="fa fa-user mx-2"></i>{{ content.createdBy }}
            </div>
        </article>
        <app-pager></app-pager>
    </div>
    <!-- Sidebar Widgets Column -->
    <aside class="col-md-4">
        <app-side-bar></app-side-bar>
    </aside>
</div>
