<div class="row">
    <div class="col-md-8">
        <div class="my-4">
            <h5 i18n>Search Result</h5>
            <div class="input-group">
                <div class="google-custom-search-box" [innerHTML]="gcseSearchBox"></div>
                <div class="google-custom-search-result" [innerHTML]="gcseSearchResult"></div>
            </div>
        </div>
    </div>

    <!-- Sidebar Widgets Column -->
    <aside class="col-md-4">
        <app-side-bar></app-side-bar>
    </aside>
</div>
