service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow read, update, delete: if request.auth.uid == resource.data.uid;
      allow create: if request.auth.uid != null;
    }
    match /articles_en-US/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /articles_tr-TR/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /blogs_en-US/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /blogs_tr-TR/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /pages_en-US/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /pages_tr-TR/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}