service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow read, write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /articles_en-US/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /articles_tr-TR/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /blogs_en-US/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /blogs_tr-TR/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /jokes_en-US/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /jokes_tr-TR/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /pages_en-US/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /pages_tr-TR/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /quotes_en-US/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /quotes_tr-TR/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /taxonomy_en-US/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /taxonomy_tr-TR/{document=**} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /messages_en-US/{document=**} {
      allow read, update, delete: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
      allow create: if true;
    }
    match /messages_tr-TR/{document=**} {
      allow read, update, delete: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
      allow create: if true;
    }
    match /configs/public_en-US {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /configs/public_tr-TR {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /configs/private_en-US {
      allow read, update, write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /configs/private_tr-TR {
      allow read, update, write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /history/{document=**} {
      allow read, write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /jobs/{document=**} {
      allow read, write: if exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
