service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow read, update, delete: if request.auth.uid == resource.data.uid;
      allow create: if request.auth.uid != null;
    }
    match /blogs/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /dynamicFiles/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}