<div class="col-12">
    <div class="card-deck">
        <article class="card border-0 my-4 card-fix-width" *ngFor="let content of contents$ | async; trackBy:pageService.trackByIndex">
            <img class="card-img-top img-fluid" *ngIf="content.image" [src]="content.image.src" alt="{{ content.image.alt }}"/>
            <div class="card-body">
                <h3 class="card-title"><a [routerLink]="[content.routePath, content.path]">{{ content.title }}</a></h3>
                <p class="card-text" [innerHTML]="content.contentSummary"></p>
            </div>
        </article>
    </div>
</div>
<hr/>
<div class="col-12">
    <div class="card-deck">
        <div class="card border-0 mb-4 card-fix-width">
            <app-active-tags class="row" [tagLimit]="10"></app-active-tags>
        </div>
        <div class="card border-0 mb-4 card-fix-width">
            <app-search-bar class="row"></app-search-bar>
        </div>
        <div class="card border-0 mb-4 card-fix-width">
            <app-custom-html class="row" *ngIf="customHtml" [customHtml]="customHtml"></app-custom-html>
        </div>
    </div>
</div>
