<div class="row">

    <div class="col-md-4" *ngFor="let content of contents$ | async; trackBy:trackByIndex">

        <article class="card my-4">
            <img class="card-img-top" *ngIf="content.image" [src]="content.image" alt="{{ content.imageAltText }}"/>
            <div class="card-body">
                <h2 class="card-title"><a [routerLink]="[content.routePath, content.path]">{{ content.title }}</a></h2>
            </div>
            <div class="card-footer text-muted">
                <span i18n>{{ content.created.seconds * 1000 | date:'medium' }} - {{ content.createdBy }}</span>
            </div>
        </article>

    </div>

</div>