<div class='row'>
    <h1 class="col-md-12" i18n>{{ title }}
    </h1>
</div>
<div class='row'>
    <!-- Page Entries Column -->

    <div class="col-md-8">

        <div class="card my-4" *ngFor="let page of pages$ | async; trackBy:trackByPage">
            <img class="card-img-top" *ngIf="page.image" [src]="page.image" alt="Card image cap">
            <div class="card-body">
                <a [routerLink]="['/page', page.id]"><h2 class="card-title">{{ page.title }}</h2></a>
                <p class="card-text" [innerHTML]="page.contentSummary"></p>
                <a [routerLink]="['/page', page.id]" class="btn btn-primary" i18n>Read More &rArr;</a>
            </div>
            <div class="card-footer text-muted">
                <span i18n>Posted on {{ page.created.seconds * 1000 | date:'medium' }} by {{ page.createdBy }}</span>
            </div>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item {{ currentPageNo > 1 ? 'd-none d-md-flex' : 'd-none' }}">
                <a class="page-link" [routerLink]="['/pages', 1]" i18n>&larr; Newest</a>
            </li>

            <li class="page-item {{ previousPageNo ? '' : 'd-none' }}">
                <a class="page-link" [routerLink]="['/pages', previousPageNo]">{{ previousPageNo }}</a>
            </li>
            <li class="page-item active">
                <a class="page-link" [routerLink]="['/pages', currentPageNo]">
                    {{ currentPageNo }}
                    <span class="sr-only" i18n>(current)</span>
                </a>
            </li>
            <li class="page-item {{ nextPageNo ? '' : 'd-none' }}">
                <a class="page-link" [routerLink]="['/pages', nextPageNo + 1]">{{ nextPageNo }}</a>
            </li>

            <li class="page-item {{ currentPageNo < maxPageNo ? 'd-none d-md-flex' : 'd-none' }}">
                <a class="page-link" [routerLink]="['/pages', maxPageNo]" i18n>Oldest &rarr;</a>
            </li>
        </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <app-side-bar></app-side-bar>
    </div>

</div>
