<div class='main-nav'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/home']" i18n>Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/home']">
                        <span class='' i18n>Home</span> <span class="sr-only" i18n>(current)</span>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/blog']">
                        <span class='' i18n>Blog</span>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/playground']">
                        <span class='' i18n>Playground</span>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" href="/coverage" target="_blank">
                        <span class='' i18n>Coverage</span>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" href="/documentation" target="_blank">
                        <span class='' i18n>Documentation</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav" id="lang">
                <li class="nav-item" *ngFor="let locale of locales; trackBy:trackByLocale">
                    <a class="nav-link lang-option" [href]="'/' + locale.code + currentUrl">
                        <span class=''></span> {{ locale.text }}
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" i18n="@@search">Search</button>
            </form>
        </div>
    </nav>
</div>
