
$body-bg: #f1f1f1;
$body-color: #111;
$theme-colors: ( "primary": #216DAD);
$theme-colors: ( "accent": #669ECD);
$header-height: 50px;
$menu-max-width: 25%;
$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
